#navbar .nav-item .nav-link:hover
{
    background: black;
    font-weight: bold;
    color: white;
    border-radius: 75px;
}

#navbar .navbar-nav li a
{
    margin-bottom: 5px;
    color: black;
}

#navbar .nav-item .nav-link
{
    font-size: 20px;
    font-weight: 800;
}

#navbar .navbar-brand
{
    font-weight: bold;
    color: silver;
}

#navbar .nav-item
{
    padding:10px;
}

#navbar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
  background:#b3b3ff; 
}
#hobby
{ 
    background: #b3b3ff;
}



#hobby h3
{
    color: #4d0099;
    font-weight: bolder;
}

#hobby .card-body .icon
{
    font-size: 60px;
    color: #800080;
}

#hobby .card1
{
    background: #ffcc99;
    margin: auto;
}

#hobby .card2
{
    background: #ffff99;
    margin: auto;
}

#hobby .card3
{
    background: #ff99bb;
    margin: auto;
}
#skill
{
  margin: auto;
}

#skill .text-center
{
  font-weight: 700;
}
#skill .content
{
  width: 50%;
  margin: auto;
  padding: 10px;
}
#skill .content .image
{
  float: left;
  width: 300px;
  padding-right: 15px;
}

#skill .content .text p span
{
  font-weight: bold;
}

#skill .content .text p
{
  font-family: cursive;
}

#skill .content .text
{
  padding: 100px;
}

#skill .row
{
  margin: auto;
}
#skill .progress
{
    width: 500px;
}
#contact
{
  background: aliceblue;
}
#contact .icon a img
{
  height: 100px;
  width: 100px;
}

#contact .icon a img:hover
{
  transform: translateY(-10px);
  transition: 0.5s;
}

#contact .b
{
  border-left: 5px solid purple;
  /* margin-top: 5px; */
  margin-bottom: 5px;
  
}


/* Media Query */

@media screen and (max-width:1494px)
{
  #skill .progress
  {
    width: 300px;
  }
}


@media screen and (max-width:989px) 
{
#hobby .card
  {
      width: 200px !important;
      /* margin: 100px; */
      
  }

#skill .progress
  {
    width: 350px;
  }
    
}

@media screen and (max-width:955px)
{
  #skill .content .image
  {
    float: none;
    width: 300px;
    padding-right: 15px;
  }

  #skill .content .text
  {
    padding: 0px;
  }
}

@media screen and (max-width:480px)
{

#skill .progress
  {
    width: 300px;
  }

  #skill .content .image
  {
    float: none;
    width: 300px;
    padding-right: 15px;
  }

  #skill .content .text
  {
    padding: 0px;
  }
  
}
/* Media Query */