#navbar .nav-item .nav-link:hover
{
    background: black;
    font-weight: bold;
    color: white;
    border-radius: 75px;
}

#navbar .navbar-nav li a
{
    color: black;
}
#navbar .nav-item .nav-link
{
    font-size: 15px;
    font-weight: 600;
}

#navbar .navbar-brand
{
    font-weight: bold;
}



#navbar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #33ccff, #ffff99);
}

#course
{
    background-image: linear-gradient(to right, #33ccff, #ffff99);
}

#navbar .navbar-nav li a h6
{
    font-size: 12px;
    color: red;
    font-weight: bold;
}

#course h3
{  
    font-weight: bold;
    font-size: 30px;
}

#course p
{
    padding-left: 20px;
    font-size: 25px;
    font-weight:500;
}

#course .wave
{
    width:100%;
}

#collection h3
{
    font-weight: bold;
    font-size: 50px;
    color: greenyellow
}

#collection p
{
    font-weight: bold;
    font-size: 20px;
}


#collection .content:hover
{
    transform: translateY(-20px);
    transition: 0.5s;
}

#allcourse .text
{
    color: #1a8cff;
    font-size: 50px;
    font-weight: 1000;
}


#allcourse
{
    margin: auto;
    background: #cce6ff;
}


#tips
{
    background:#e6ffff;
    padding: auto;
}

#tips .title
{
    font-weight: bold;
    font-size: 30px;   
}
#tips .tips p
{   
    font-size: 20px;
    padding-top: 20px;
    padding-left:20px;
}

#tips .tips p .iconify
{   
    font-size: 20px;
    padding-right:px;
}

/* ABOUT */
#about
{
    background-image: linear-gradient(to right, #33ccff, #ffff99);
}
#about .img-text
{
    display: flex;
    align-items: center;
}

#about .img-text .img-fluid
{
    border-radius: 5px;
}
#about .img-text .text
{
    margin-left: 20px;
}

#about .wave
{
    width: 100%;
}

#about .icon
{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
#about .icon
{
    margin-left: auto;
}
#about .icon a img
{
  height: 50px;
  width: 50px;
}

#about .icon a img:hover
{
  transform: translateY(-10px);
  transition: 0.5s;
}

#about .pro
{
    align-items: center;
}
#about  .b
{
  border-left: 5px solid purple;
  margin-bottom: 5px;
} 


@media screen and (max-width: 991px)
{   #course .image-fluid
    {
        margin-top: 120px;
        
    }
    #allcourse .row .img
    {
        padding-top: 50px;
        width: 350px;
        height:350px;
        
    }

} 